.LogIn {
    background-image: url("./assets/logIn.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.section1 {
    background-image: url("./assets//Group.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;}